[submodule "submodules/UnarySim"]
	path = submodules/UnarySim
	url = https://github.com/duydl/UnarySim.git

[submodule "submodules/cocotb"]
	path = submodules/cocotb
	url = https://github.com/duydl/cocotb.git

[submodule "submodules/td3-gym"]
	path = submodules/td3-gym
	url = https://github.com/duydl/td3-gym.git


